body {
    margin: 0;
}
.contain {
    height: 500px;
    width: 800px;
    border: 3px solid grey;
    padding: 5px;
    background-color: khaki;
    display: flex;
    flex-wrap: wrap;

    
}
.b1 {
    margin-top: 140px;
    height: 280px;
    width: 720px;
    border: 0.5px solid rgb(107, 33, 245);
    background-color: rgb(108, 48, 247);
    box-shadow:  8px 14px rgb(182, 174, 174);
    
}
.text {
    position: absolute;
    color: black;
    left: 350px;
    
}
.div1{
    margin-left: 2px;
    margin-top: 10px;
    
width:700px;
height:260px;
background-color:rgb(34, 11, 97);
border:1px solid black;
border-radius:15px;
overflow:hidden;
}
.div2 {
background-color:rgb(251, 251, 255);
color:white;
margin-left: 230px;
height:260px;

}


.p1 {
    color: rgb(177, 174, 174);
    position: absolute;
    top: 200px;
    left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.p2 {
    color: rgb(252, 249, 249);
    position: absolute;
    top: 220px;
    left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.btn {
    
    color: rgb(177, 174, 174);
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 370px;
    left: 50px;
    background-color: rgb(34, 11, 97);
   opacity: 5;
}

.hello {
    position: absolute;
    top: 180px;
    left: 300px;
    color: rgb(117, 116, 116);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.line {
width:150px;
height:7px;
background-color:silver;
position: absolute;
left: 500px;
top: 206px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
}
.line2 {
width:100px;
height:7px;
background-color:rgb(47, 4, 126);
position: absolute;
left: 500px;
top: 206px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;

}
.line3 {
color: grey;
position: absolute;
left: 550px;
top: 215px;
}
.line4 {
color:black;
position: absolute;
left: 298px;
top: 230px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#btn {
position: absolute;
left: 400px;
top: 350px;
text-decoration: none;
display: inline-block;
padding: 8px 30px;
border-radius: 40px;
background: rgb(23, 4, 136);
color: #f4f2f7;
font-size: 1.3em;
z-index: 9;
box-shadow:  2px 3.5px rgb(182, 174, 174);

transform: translate(100px);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}